/lesson_4/
/lesson_3/
/lesson_2/
/lesson_1/
/lesson_1 (PyQT)/
/lesson_5/
/lesson_6/
/lesson_7/
/lesson_8/
/.idea/
/messenger/help.txt
/messenger/client/database/client_petr_database.db3
/messenger/client/database/client_vasya_database.db3
